<div layout="column" ng-class="forecast[forecastIndex].className" flex>
    <div ng-if="forecast" ng-cloak class="weather-area demo-swipe" layout="column" layout-align="center center" md-swipe-left="increaseForecastIndex()" md-swipe-right="decreaseForecastIndex()">
        <div layout="row">
            <img class="weather-icon" ng-src="{{ forecast[forecastIndex].icon }}" class="md-card-image">
            <md-list-item class="md-3-line">
                <div ng-cloak layout="column" class="md-list-item-text" layout-align="center start">
                    <div layout="row" class="location-button">
                        <h2>{{ locationStr }}</h2>
                        <md-button class="md-icon-button" aria-label="Location" ng-click="showLocationPrompt($event)">
                            <img ng-src="images/logo/logo.svg" class="md-card-image">
                        </md-button>
                    </div>
                    <h3>{{ forecast[forecastIndex].dateStr }}</h3>
                    <p>{{ forecast[forecastIndex].weather[0].description }}</p>
                </div>
            </md-list-item>
        </div>
        <h1>{{ forecast[forecastIndex].temp.day + 'º' }}</h1>

        <div layout="row" class="stats-row" layout-align="center center">
            <div flex="33" layout="column" layout-align="center center">
                <img class="stats-icon" ng-src="images/icons_weather/humidity.svg" class="md-card-image">
                <h4>{{ forecast[forecastIndex].humidity + ' %' }}</h4>
            </div>
            <p class="stats-divider">|</p>
            <div flex="33" layout="column" layout-align="center center">
                <img class="stats-icon" ng-src="images/icons_weather/thermometer.svg" class="md-card-image">
                <h4>{{ forecast[forecastIndex].temp.min + 'º' }} - {{ forecast[forecastIndex].temp.max + 'º' }}</h4>
            </div>
            <p class="stats-divider">|</p>
            <div flex="33" layout="column" layout-align="center center">
                <img class="stats-icon" ng-src="images/icons_weather/wind.svg" class="md-card-image">
                <h4>{{ forecast[forecastIndex].speed + ' m/s' }}</h4>
            </div>
        </div>
    </div>
    <div ng-if="!forecast" layout="column" layout-align="center center" class="initial-screen">
        <md-button class="md-icon-button" aria-label="Location" ng-click="showLocationPrompt($event)">
            <img ng-src="images/logo/logo.svg" class="md-card-image">
        </md-button>
        <h2>Weather App</h2>
    </div>
</div>
<div ng-if="forecast" ng-cloak layout="column" layout-align="center center">
    <div layout="row" class="weather-forecast" layout-align="center center">
        <md-list-item ng-class="f.className" ng-click="setForecastIndex(f.index)" ng-repeat="f in forecast | limitTo : 4 : 1" flex="25">
            <div layout="column" class="md-list-item-text weather-forecast-column" layout-align="center center">
                <h6>{{ f.weekDay}}</h6>
                <img class="stats-icon" ng-src="{{ f.icon }}" class="md-card-image">
                <h6>{{ f.temp.max + 'º'}}</h6>
            </div>
        </md-list-item>
    </div>
</div>
